<div class="container_menu">
  <% @restaurant.menus.each do |menu| %>
    <div class="card_menu">
      <div class="menu_name_type">
        <div class="menu_name">
          <p><%= menu.name.downcase %></p>
        </div>
        <div class="menu_style">
          <%if menu.vegetarien == true%>
            <h4>Végétarien</h4>
          <%elsif menu.vegan == true %>
            <h4>Vegan</h4>
          <%elsif menu.sans_gluten == true %>
            <h4>Sans Gluten</h4>
          <%elsif menu.halal == true %>
            <h4>Halal</h4>
          <%else%>
          <h4> </h4>
          <%end%>
        </div>
      </div>
      <div class="menu_description">
        <h6><%=menu.description.downcase%></h6>
      </div>
      <div class="menu_img">
        <%= cl_image_tag menu.photo.key, height: 100, width: 130, crop: :fill %>
      </div>
    </div>
  <% end %>
</div>
