.container-admin{
  display: grid;
  grid-template-columns: [line1] 130px [line2] auto [line3] auto ;
  grid-template-rows: [row1-start] 110px [row2-start] auto [row3-start] auto [row4-start] 52px;
}

.navbar-admin{
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;

  h1 {
  color: $yellow;
  font-weight: bold;
  }
}

.footer-admin{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.sidebar-bar-admin{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.container-resto-team{
  background-color: #F1F1F1;
  padding-top: 50px;

  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.card-myresto{
  display: grid;
  text-align: center;
  align-items: center;
  width: 350px;
  height: 350px;
  border-radius: 20px;
  background-color: #9CD1D1;
}

.card-myteam{
  background-color: white;
  width: 350px;
  height: 350px;
  border-radius: 20px;
}

.container-menus{
  background-color: #F1F1F1;
  padding: 50px;

  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.card-mymenus{
  background-color: white;
  border-radius: 20px;
}

.admin_all_menus{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 20px;
}

.admin_menu_name {
text-align: center;
padding-top: 10px;
}

.admin_menu_photo{
  text-align: center;
}

.admin_menu_title h2{
text-align: center;
padding-top: 15px;
color: #06908F;
}

.admin_resto_photo{
  text-align: center;
  padding-top: 15px;
}

.admin_restaurant_title h2{
  text-align: center;
  padding-top: 15px;
  color: #06908F;
}

.admin_resto_infos {
text-align: left;
padding-left: 15px;
padding-top: 20px;
}

.admin_myteam_title h2{
text-align: center;
padding-top: 15px;
color: #06908F;
}

.avatar_users img{
  border-radius: 50%;
}

.avatar_users{
  margin: 13px;
}

.admin_avatar_users {
  flex-wrap: wrap;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
}


 // Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {

}

// Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {

}

// Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {

}

// Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {

}

// Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {

}

