.container-admin{
  display: grid;
  grid-template-columns: [line1] auto [line2] auto [line3] auto ;
  grid-template-rows: [row1-start] 110px [row2-start] auto [row3-start] auto [row4-start] 52px;
}

.home-title {
  text-align: center;
  margin-bottom: 20px;
  h1 {
  color: $yellow;
  font-weight: bold;

  }
}

.navbar-admin{
  display: flex;
  justify-content: space-between;

  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.footer-admin{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.sidebar-bar-admin{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.container-dashbord{
  background-color: #F1F1F1;
  padding-top: 50px;

  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.card-myresto{
  display: grid;
  text-align: center;
  align-items: center;
  width: 350px;
  height: 350px;
  border-radius: 20px;
  background-color: #9CD1D1;
}

.card-myteam{
  background-color: white;
  width: 350px;
  height: 350px;
  border-radius: 20px;
}

.container-menus{
  background-color: #F1F1F1;
  padding: 50px;

  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.card-mymenus{
  background-color: white;
  border-radius: 20px;
}

.admin_all_menus{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 20px;
}

.admin_menu_name {
text-align: center;
padding-top: 10px;
}

.admin_menu_photo{
  text-align: center;
}

.admin_menu_title h2{
text-align: center;
padding-top: 15px;
color: #06908F;
}

.admin_resto_photo{
  text-align: center;
  padding-top: 15px;
}

.admin_restaurant_title h2{
  text-align: center;
  padding-top: 15px;
  color: #06908F;
}

.admin_resto_infos {
text-align: left;
padding-left: 15px;
padding-top: 20px;
}

.admin_myteam_title h2{
text-align: center;
padding-top: 15px;
color: #06908F;
}

.avatar_users img{
  border-radius: 50%;
}

.avatar_users{
  margin: 13px;
}

.admin_avatar_users {
  flex-wrap: wrap;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
}


 // Extra small devices (phones, 600px and down) / iphone 5 & SE et iphone 6 7 8
@media only screen and (max-width: 600px) {

  .container-admin{
    display: grid;
    grid-template-columns: [line1] auto [line2] auto [line3] auto ;
    grid-template-rows: [row1-start] 60px [row2-start] auto [row3-start] auto [row4-start] 52px;
  }

  .container-resto-team {
    display: flex;
    flex-wrap: wrap;
  }

  .admin_all_menus{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 10px;
  }

  .container-menus{
    padding: 40px;
  }

  .card-myresto{
    margin-bottom: 20px;
    width: 290px
  }

  .card-myteam{
    width: 290px;
  }

}

// Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {
  .container-admin{
    display: grid;
    grid-template-columns: [line1] auto [line2] auto [line3] auto ;
    grid-template-rows: [row1-start] 60px [row2-start] auto [row3-start] auto [row4-start] 52px;
  }

  .container-resto-team {
    display: flex;
    flex-wrap: wrap;
  }

  .admin_all_menus{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 10px;
  }

  .container-menus{
    padding: 15px;
  }

  .card-myresto{
    margin-bottom: 20px;
  }

.card-myresto{
  display: grid;
  text-align: center;
  align-items: center;
  width: 350px;
  height: 350px;
  border-radius: 20px;
  background-color: #9CD1D1;
}

.card-myteam{
  background-color: white;
  width: 350px;
  height: 350px;
  border-radius: 20px;
}

.container-menus{
  background-color: #F1F1F1;
  padding: 50px;

  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.card-mymenus{
  background-color: white;
  border-radius: 20px;
}

}
// Iphone X

@media only screen
    and (device-width : 375px)
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3) {

.container-admin{
    display: grid;
    grid-template-columns: [line1] auto [line2] auto [line3] auto ;
    grid-template-rows: [row1-start] 60px [row2-start] auto [row3-start] auto [row4-start] 52px;
  }

  .container-resto-team {
    display: flex;
    flex-wrap: wrap;
  }

  .admin_all_menus{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 10px;
  }

  .container-menus{
    padding: 15px;
  }

  .card-myresto{
    margin-bottom: 20px;
    height: 300Px;
  }

  .admin_resto_infos {
  padding-top: 5px;
  line-height: 0.5em;
  p {
    font-size: 13px;
  }

}

.admin_resto_photo{
  padding-top: 5px;
  img {
    height: 90px;
  width: 150px;
}
}

.admin_myteam_title, .admin_restaurant_title, .admin_menu_title {
  h2{
  font-size: 20px;
}
}

.home_title h1 {
  font-size: 30px;
  }

.admin_menu_photo{

  img {
  height: 90px;
  width: 150px;
}
}

.card-myteam {
  width: 290px;
  height: 250px;
  }

.card-mymenus{
  width: 290px;
  height: 500px;
  margin-left: 25px;
}
    }

//iphone 6 7 8 plus

@media only screen
    and (device-width : 414px)
    and (device-height : 736px)
    and (-webkit-device-pixel-ratio : 3) {

.container-admin{
    display: grid;
    grid-template-columns: [line1] auto [line2] auto [line3] auto ;
    grid-template-rows: [row1-start] 60px [row2-start] auto [row3-start] auto [row4-start] 52px;
  }

  .container-resto-team {
    display: flex;
    flex-wrap: wrap;
  }

  .admin_all_menus{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 10px;
  }

  .container-menus{
    padding: 15px;
  }

  .card-myresto{
    margin-bottom: 20px;
    height: 300Px;
  }

  .admin_resto_infos {
  padding-top: 5px;
  line-height: 0.5em;
  p {
    font-size: 13px;
  }

}

.admin_resto_photo{
  padding-top: 5px;
  img {
    height: 90px;
  width: 150px;
}
}

.admin_myteam_title, .admin_restaurant_title, .admin_menu_title {
  h2{
  font-size: 20px;
}
}

.home_title h1 {
  font-size: 30px;
  }

.admin_menu_photo{

  img {
  height: 90px;
  width: 150px;
}
}

.card-myteam {
  width: 290px;
  height: 250px;
  }

.card-mymenus{
  width: 290px;
  height: 500px;
  margin-left: 45px;
}

    }



// Medium devices (landscape tablets, 768px and up)  ipads
@media only screen and (min-width: 768px) {

.admin_all_menus{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 5px;
}
.container-menus{
  padding-top: 5px;
}

.card-myresto{
  margin-bottom: 20px;
  }

.container-dashbord{
  padding-top: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.card-myresto{
  height: 220px;
  margin-bottom: 7px;
}
.card-myteam{
  height: 220px;
  margin-bottom: 7px;
}

.container-admin{
  display: grid;
  grid-template-columns: [line1] auto [line2] auto [line3] auto ;
  grid-template-rows: [row1-start] 50px [row2-start] auto [row3-start] auto [row4-start] 52px;

}

.avatar_users{
  margin: 5px;
}

.admin_avatar_users {
  padding-top: 5px;
}

.admin_resto_infos {
  padding-top: 5px;
  line-height: 0.5em;
  p {
    font-size: 13px;
  }

}

.admin_resto_photo{
  padding-top: 5px;
  img {
    height: 90px;
  width: 150px;
}
}

.admin_myteam_title, .admin_restaurant_title, .admin_menu_title {
  h2{
  font-size: 20px;
}
}

.home_title h1 {
  font-size: 30px;
  }

.admin_menu_photo{

  img {
  height: 90px;
  width: 150px;
}
}

}

// Large devices (laptops/desktops, 992px and up) / ipads pro
@media only screen and (min-width: 992px) {

.container-dashbord{
  padding-top: 10px;
  width: 1366px;
  height: 1024px;
}

.card-myresto{
  display: grid;
  text-align: center;
  align-items: center;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  background-color: #9CD1D1;
}

.card-myteam{
  background-color: white;
  width: 400px;
  height: 400px;
  border-radius: 20px;
}

.card-mymenus{
  background-color: white;
  width: 1300px;
  height: 300px;
  margin-top: 50px;
  border-radius: 20px;
}


.card-mymenus{
  background-color: white;
  border-radius: 20px;
}

}

// Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {

.admin_all_menus{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 20px;
  }
}

