.index_orders_icone{
  text-align: center;
  // margin-top: 25px;
}

.index_orders_card_order{
  // border: solid 1px;
  margin-bottom: 2px;
}

.index_orders_card_title_date{
  padding-top: 15px;
  padding-left: 10px;
}

.index_orders_card_status_en_cours, .index_orders_card_status_terminee{
  // background-color: #f67280;
  padding-top: 13px;

}

.index_orders_card_status_en_cours, .index_orders_card_sigle, .index_orders_card_status_terminee {
  display: flex;
  width: 70px;
  align-items: center;
  justify-content: center;
}

.index_orders_card_sigle{
  margin-top: 10px;
  width: 25px;
  align-items: right;
  padding-left: 13px;

}

.index_orders_count p{
  color: $yellow;
  font-size: 15px;
  text-decoration: underline;
}



.index_orders_card_sigle h6{
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: $yellow;
}



.index_orders_title{
  text-align: left;
  // padding-top: 8px;
  margin-right: 20px;
  margin-left: 20px;
}
.index_orders_card_title h5{
  font-size: 16px;
}

.index_orders_card_status_en_cours p{
  padding-top: 4px;
  font-size: 15px;
  width: 100%;
  text-align: center;
  background-color: #FFD4C8;
  border-radius: 10%;
  padding-bottom: 6px;
  margin-top: 5px;
}

.index_orders_card_status_terminee p{
  padding-top: 4px;
  font-size: 15px;
  width: 100%;
  text-align: center;
  background-color: #a7d7c5;
  border-radius: 10%;
  padding-bottom: 6px;
  margin-top: 5px;
}

.index_orders_card_date p{
  font-size: 10px;
}
