
.lets_go {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
   h2 {
  color:$yellow;
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.fa-concierge-bell {
  font-size: 100px
}

.button_pop_up {
  text-align: center;
  margin-bottom: 119px;
}


.title {
  margin-top: 33px;
  margin-bottom: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}
