
.container_profil {
  padding-top: 50px;
}

.profil_user_infos {
  padding-top: 10px;
}


.profil_user_buttons {
  padding: 40px;
  margin-top: 70px;
  margin-left: 20px;
}


.profil_user_avatar {
  margin-left: 40px;
}


.profil_user_avatar img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}


.profil_user_personal_infos p {
   overflow-wrap: break-word;
   line-height: 5px;
   color: black;
   font-weight: bold;
   margin-left: 9px;
}


.texticone p {
  color: white;
  margin-bottom: 0px;
}


.button {

  .fa-phone-volume, .fa-sign-out-alt, .fa-question-circle {
  font-size: 18px;
  color: white;
}
}

