
.show_cards_restaurant {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

.show_card_restaurant {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  min-width: 300px;
  margin-top: 30px;
  margin-bottom: 5px;
  margin-left: 55px;
}

.show_card_restaurant > img {
}

.show_card_restaurant p {
  font-size: 13px;
}

.show_card_restaurant h2 {
  font-size: 14px;
  color: $yellow;
}

.show_card_restaurant .fa-walking {
  font-size: 11px;
  color: #DADDD8; // gris //
}

.show_card_restaurant .show_card_restaurant_infos {
  padding: 30px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  .remove-mb {
    margin-bottom: 0px;
  }
}

.show_card_restaurant_location {
  text-align: left;
  margin-bottom: 2px;
}


.show_card_name_restaurant {
  background-color: white;
  position: absolute;
  min-width: 130px;
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, .2);
  border-radius: 2px;
  bottom: 60px;
  right: 90px;
  h5 {
  padding-top: 7px;
  }
}

// .banner h2 {
//   padding-top: 46px;
// }

// .btn-flat {
//   font-size: 12px;
// }


.show_card_category_restaurant {
  background-color: #FFD4C8;
  max-width: 60px;
  text-align: center;
  border-radius: 1px;
  p {
    color: #BD654B;
    font-size: 14px;
  }

}

