.waiting-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fa-hourglass-half {
  font-size: 100px;
  margin-bottom: 20px;
  padding-left: 154px;
}

.titre-popup {
  color: $yellow;
  margin: 107px;
}

.text-infos {
  padding-top: 29px;
}
