.waiting-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

//   h1
//     color: black;
//     // padding-top: 15px;
//   }
// }

.fa-smile{
  font-size: 60px;
  margin-bottom: 5px;
  // padding-left: 154px;
  text-align: center;

}



.titre-popup h2{
    color: $yellow;
    font-size: 25px;
  }
}

.text-infos {
  // padding-top: -50px;

}

.link_skip a{
  margin-bottom: 10px;
  color: #fafafa;
}
