<div class="admin_footer">
  <div class="content_footer_cgv">
    <p>Conditions générales de ventes</p>
  </div>
  <div class="content_footer_last_word">
    <p>Made with Love by M&G</p>
  </div>
</div>
