<div class="footer-admin">
  <div class="content_footer_cgv">
    <p><strong>Conditions générales de ventes</strong></p>
  </div>
  <div class="content_footer_last_word">
    <p><strong>Made with Love by M&G</strong></p>
  </div>
</div>
