<div class="footer_container">
  <div class="button_home">
    <p>Accueil</p>
  </div>
  <div class="button_commandes">
   <p>Commandes</p>
  </div>
  <div class="button_compte">
    <p>Compte</p>
  </div>
</div>
