<!-- <div class="Navbar">
    <div class="Navbar__Link Navbar__Link-toggle">
      <i class="fas fa-bars"></i>
    </div>
  <nav class="Navbar__Items">
    <a class="Navbar__Link" href="#">Mes menus</a>
    <a class="Navbar__Link" href="#">Mon équipe</a>
    <a class="Navbar__Link" href="#">Mon profil</a>
    <a class="Navbar__Link" href="#">Nous contacter</a>
    <a class="Navbar__Link" href="#">Se déconnecter</a>
  </nav>
</div> -->


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="" class="navbar-brand"><%= image_tag("logo_foodzzz.png", size: "130x110", alt: "logo foodzzz") %></a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navi">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navi">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Mes menus</a></li>
        <li><a href="#">Mon équipe</a></li>
        <li><a href="#">Mon profil</a></li>
        <li><a href="#">Mes menus</a></li>
      </ul>
    </div>
  </div>
</nav>



