
  <a class="navbar-brand" href="#">
    <%= image_tag("logo_foodzzz.png", size: "100x85", alt: "logo foodzzz") %>
  <div class="Navbar">
      <div class="Navbar__Link Navbar__Link-toggle">
        <i class="fas fa-bars"></i>
      </div>
    <nav class="Navbar__Items">
      <a class="Navbar__Link" href="#">Mes menus</a>
      <a class="Navbar__Link" href="#">Mon équipe</a>
      <a class="Navbar__Link" href="#">Mon profil</a>
      <a class="Navbar__Link" href="#">Nous contacter</a>
      <a class="Navbar__Link" href="#">Se déconnecter</a>
    </nav>
  </div>

