<div class="container-sidebar vh-100">
  <div class="d-flex align-items-start flex-column bd-highlight mb-3 vh-100">
    <div class="button-menus p-2 bd-highlight w-100">
      <p> Mes menus </p>
    </div>
    <div class="button-staff p-2 bd-highlight w-100">
      <p> Mon équipe </p>
    </div>
    <div class="button-account p-2 bd-highlight w-100">
      <p> Mon compte </p>
    </div>
    <div class="button-support p-2 bd-highlight w-100">
      <p> Support client </p>
    </div>
    <div class="p-2 bd-highlight w-100">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <div class="button-logout">
          <i class="fas fa-sign-out-alt"></i>
          <p> Se déconnecter </p>
        </div>
      <%end%>
    </div>
  </div>
</div>
