<div class="container_orders">
  <h1 class="banner h1-ban"> Mes <br> commandes </h1>
    <div class="orders_list">
      <p> Mes commandes : 0 </p>
       <p><%= link_to "Ajouter une commande", restaurant_path %></p>
    </div>
    <div class="order_card_content">
      <i class="fas fa-clipboard-list mt-5"></i>
      <p> Aucune commande </p>
    </div>
</div>

<%= render 'shared/footer' %>


