<%= render 'shared/navbar'%>
<!-- <h1>hello <%= current_user.first_name%></h1> -->

<div class="d-flex bd-highlight vh-100">
  <div class="p-2 flex-shrink-1 bd-highlight">
    <%= render 'shared/sidebar'%>
  </div>
  <div class="p-2 w-100 bd-highlight"></div>
</div>



<!-- <div class="profil_user_button_logout mb-4">
  <%#= link_to destroy_user_session_path, method: :delete do %>
    <div class="button d-flex flex-row justify-content-center">
      <i class="fas fa-sign-out-alt"></i>
      <div class="texticone"><p> Se déconnecter </p></div>
    </div>
  <%#end%>
</div> -->

<%# @users.each do |user|%>
  <%#= user.first_name%>
<%# end %>

<%# current_user.restaurant.menus.each do |menu|%>
  <%#= menu.name%>
<%# end %>
