<div class="container_profil">
  <div class="profil_user_infos">
    <div class="profil_user_avatar">

    </div>
    <div class="profil_user_personal_infos">
        <p> Nom </p>
        <p> Prénom </p>
        <p> Email </p>
    </div>
  </div>
  <div class="profil_user_buttons">
    <div class="profil_user_button_assistance">
        <div class="button"><p> Assistance en ligne </p></div>
    </div>
    <div class="profil_user_button_FAQ">
        <div class="button"><p> FAQ </p></div>
    </div>
    <div class="profil_user_button_logout">
        <div class="button"><p> Logout </p></div>
    </div>
  </div>
  <div class="profil_order_navbar"></div>
</div>
