<div class="waiting-page p-5 text-center">
  <div>
    <div class ="">
      <h1><strong>A tout </strong> à l'heure <strong> ! </strong></h1>
    </div>
  </div>
  <div class="text-infos mt-5">
    <div class="">
      <p>Nous avons bien pris en compte que tu libérais ton repas.</p>
    </div>
    <div class="">
      <p><span>On revient vers toi</span>  à 11h avec la liste des menus dispo.</p>
    </div>
  </div>
  <div>
    <div class="">
      <h2 class="titre-popup">Stay tuned ...</h2>
    </div>
  </div>
  <div>
    <div><i class="fas fa-hourglass-half"></i></div>
  </div>
</div>
