<div>

  <h1><<strong>A tout </strong> à l'heure <strong> ! </strong></h1>

  <h3>Nous avons bien pris en compte que tu libérais ton repas.</h3>

  <h3>On revient vers toi  à 11h avec la liste des menus dispo.</h3>

  <h2>Stay tuned ...</h2>

</div>
