
<div class= "container_home">
  <div class = "banner">
  <h2>Foodzzz te permet de varier tes repas et kiffer ta pause dej !</h2>
  </div>
    <div class = "container_home_etapes">
      <div class = "home_etape1">
      <h3>Etape 1</h3>
      <h4>Libère ton repas</h4>
      <div class = home_icone_etape1></div>
      <p>Foodzzz te permet de réserver un repas un resto autour de toi.
      Clique sur “Je libère mon repas” avant 10h afin de le rendre accessible à quelqu’un d’autre, et laisse-toi porter !</p>
      </div>
      <div class = home_fleche1></div>
      <div class = "home_etape2">
      <h3>Etape 2</h3>
      <h4>Réserve ton repas</h4>
      <div class = home_icone_etape2></div>
      <p>A 11h,  tu vas reçevoir une alerte te disant que  des repas sont dispos autour de toi.
      Navigue entre les différents menus et commande celui qui te donne le plus envie !</p>
      </div>
      <div class = home_fleche2></div>
      <div class = "home_etape3">
      <h3>Etape 3</h3>
      <h4>Va chercher ton repas</h4>
      <div class = home_icone_etape3></div>
      <p>Foodzzz sélectionne pour toi les restos à 10mn à pied autour de ta localisation.
      Parfait pour prendre un petit bol d’air à ta pause !</p>
      </div>
      <div class = home_fleche3></div>
      <div class = "home_etape4">
      <h3>Etape 4</h3>
      <h4>Récupère ton repas</h4>
      <div class = home_icone_etape4></div>
      <p>Présente le QR code qui figure sur le recap’ de ta commande et récupère ton repas.
      C’est l’heure de se régaler !</p>
      </div>
  <div class = home_button></div>
    </div>
</div>
