<div class="waiting-page p-3 mt-5 text-center">
  <div class= "title">
    <h1>A tout  <span><strong>à l'heure</strong><span> !</h1>
  </div>
  <div class="text-infos">
    <div class="text-center">
      <p>Nous avons bien pris en compte que tu libérais ton repas.</p>
    </div>
    <div class="text-center">
      <p><span>On revient vers toi</span>  à 11h avec la liste des menus dispo.</p>
    </div>
  </div>
    <div class="titre-popup text-center mt-1">
      <h2><strong>Stay tuned ...</strong></h2>
    </div>
    <div><i class="fas fa-history"></i></div>
    <div class="link_skip">
      <p><%= link_to "Skip step", orders_opened_path %></p>
    </div>
</div>
<%= render 'shared/footer' %>
