
<div class="banner">
  <h2><strong>A tout </strong>à l'heure !</h2>
</div>

  <div class="text-infos mt-5">
    <div class="text-center">
      <p>Nous avons bien pris en compte que tu libérais ton repas.</p>
    </div>
    <div class="text-center">
      <p><span>On revient vers toi</span>  à 11h avec la liste des menus dispo.</p>
    </div>
  </div>
<div>
  <div class="text-center">
    <h2 class="titre-popup"><strong>Stay tuned ...</strong></h2>
  </div>
</div>
  <div>
    <div><i class="fas fa-hourglass-half"></i></div>
  </div>
</div>
<div class="link_skip">
  <p><%= link_to "Skip step", orders_opened_path %></p>
</div>
<%= render 'shared/footer' %>


