<div class="lets_go pt-5 text-center">
  <h2>Hello, les menus sont <span><strong>en ligne</strong></span>  !</h2>
<div>
    <i class="fas fa-concierge-bell"></i>
  </div>
  <div class="lets_go_info">
    <p>C’est le moment de se régaler ... <br> <span>Va vite commander ton repas !</span></p>
  </div>
  <div class="button_pop_up">
  <%=link_to "GOOOOOO", restaurants_path, class: "button" %>
  </div>
</div>

