<div class= "container_index_partenaires_restaurants">
  <div class = "banner">
    <div class = "index_partenaires_title">
      <h2><strong>Les restaurants partenaires autour de toi</strong></h2>
    </div>
  </div>
  <div class ="index_logos_partenaires d-flex display-block">
    <% @restaurants.each do |restaurant| %>
      <div class = "logo_partenaire">
        <%= cl_image_tag restaurant.logo.key, height: 60, width: 60, crop: :fill %>
      </div>
    <% end %>
  </div>
</div>
