div.scrollmenu {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
  padding:0;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  // padding: 14px;
  // margin: 10px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: white;
}

.title  {
  margin-top: 33px;
  margin-bottom: 33px;
  h2 {
  color:$yellow;
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.cards-restaurant {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  margin-top: 23px
}

.card-restaurant {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  min-width: 220px;
  margin: 12px;
}

.card-restaurant > img {
}

.card-restaurant p {
  font-size: 13px;
}

.card-restaurant h2 {
  font-size: 14px;
  color: $yellow;
}

.card-restaurant .fa-walking {
  font-size: 11px;
  color: #DADDD8; // gris //
}

.card-restaurant .card-restaurant-infos {
  padding: 30px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.remove-mb {
  margin-bottom: 0px;
}

.card-restaurant-location {
  text-align: left;
  margin-bottom: 2px;
}


.name-restaurant {
  background-color: white;
  position: absolute;
  min-width: 80%;
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, .2);
  border-radius: 2px;
  bottom: 80px;
  right: 21px;
  h5 {
    padding-top: 7px;
    // padding-left: 30px;
    // padding-right: 30px;

  }
}

.btn-flat {
  font-size: 12px;
}

.fa-search {
  font-size: 12px;
}

.category-restaurant {
  background-color: #FFD4C8;
  max-width: 60px;
  text-align: center;
  border-radius: 1px;
  p {
    color: #BD654B;
    font-size: 14px;
  }

}

.map {
  width: 500px;
  position: relative;
}
