.container_menu{

}
.card_menu{
  display: flex;
  position: justify-content-between;
}

.menu_name_type{

}

.menu_name{
  margin-right: 5px;

}

.menu_style{

}

.menu_description{
  padding-right: 15px;
  padding-left: 3px;
  width: 145px;
}

.menu_img{

}
