  .container_menu{
  padding: 15px;
}
.card_menu{
  display: flex;
  position: justify-content-between;
  background-color: $yellow-card;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, .2);
  position: relative;
}

.menu_name_type{
  width: 100px;

}

.menu_name{
  margin-right: 5px;
  text-align: center;
}

.menu_style{
  text-align: center;
}

.menu_description{
  // padding-right: 15px;
  // padding-left: 3px;
  padding: 6.5px 15px 0 3px;
  width: 145px;
  text-align: left;

}

.menu_img{
  position: absolute;
  right: 0;
}

.menu_name p{
  font-size: 15px;
  color: $yellow;
}
