.container-sidebar {
  min-width: 130px;
  text-align: center;
  background-color: white;
}


.container-sidebar p {
  font-size: 12px;
  color: $yellow;
  font-weight: bold;
}

.container-sidebar .icone {
opacity: 80%;
}

.button-logout {
  text-align: center;
  margin-bottom: 15px;

}

.button-menus{
  margin-top: 20px;
}

.button-staff {
  padding-top: 30px;

}

.button-account {
  padding-top: 30px;

}

.button-support {
  margin-bottom: 20px;
  padding-top: 30px;

}

