.search-form-control {
  display: flex;
  box-shadow: 0 2px 6px #495057;

  input {
    border:none !important;
  }

  button {
    border: none !important;
  }
}




.search-form-control .search-btn {
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  background: none;
}


.search-form-control .form-control {
  height: 2.8rem;
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
}


.form-group {
  margin-bottom: 0px;
}
