// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/banner";
@import "pages/index";
@import "components/button";
@import "pages/lets_go";
@import "pages/waiting";
@import "pages/show_order_recap";
@import "components/footer";

body{
  position: relative;
  min-height: calc(100vh, -12px);
  background-color: white;
}

h1 {
  font-size: 36px;
  color: black;
  text-align: center;
}

h2 {
  font-size: 24px;
  color: white;
  font-style: bold;
  text-align: center;
}

p {
  font-size: 18px;
  color: #454343; // gris //
  font-style: bold;
}

h4 {
  font-size: 13px;
  color: black;
}

h5 {
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  color: black;
}

h6 {
  font-size: 9px;
}

span {
   background-image: linear-gradient( $yellow 0%, $yellow 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
}

a {
  text-decoration: none !important;
  // color: white;
  // &
}
