// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials

// import user
@import "components/index";
@import "components/banner";
@import "pages/index";
@import "components/button";
@import "pages/lets_go";
@import "pages/waiting";
@import "pages/show_restaurant";
@import "pages/show_order_recap";
@import "components/footer";
@import "pages/profile";
@import "pages/index_without_orders";
@import "pages/index_orders";
@import "components/card_restaurant";

// import admin
@import "components/navbar";
@import "pages/admin_index_menus";
@import "components/admin_footer";
@import "pages/admin_home";
@import "components/form_user";
@import "components/form_menu";
@import "pages/admin_index_team";

body {
  position: relative;
  // min-height: calc(100vh, -12px);
  background-color: white;
}

h1 {
  font-size: 36px;
  color: black;
  text-align: center;
}

h2 {
  font-size: 24px;
  color: white;
  font-style: bold;
  text-align: center;
}

p {
  font-size: 18px;
  color: #454343; // gris //
  font-style: bold;
}

h4 {
  font-size: 10px;
  color: black;
}

// titre de mes cards restaurant - name restaurant //
h5 {
  font-size: 19px;
  text-transform: uppercase;
  text-align: center;
  color: black;
}

h6 {
  font-size: 9px;
}

span {
   background-image: linear-gradient( $yellow-span 0%, $yellow-span 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0 88%;
}

a {
  text-decoration: none !important;
}

