<div class="container-admin">
  <%= render 'shared/navbar_lewagon'%>
  <div class="sidebar-bar-admin">
    <%= render 'shared/sidebar'%>
  </div>
  <div class= "admin_edit_users_container">
  </div>
  <div class="footer-admin">
    <%= render 'shared/adminfooter'%>
  </div>
</div>
